:root {
  --background: #fafafa;
  --foreground: #f4e8d2;

  --text-primary: #192f44;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  --meeple-yellow: #ffcc00;
  --meeple-red: #ff6666;
  --meeple-blue: #3399ff;
  --meeple-green: #33cc33;
  --meeple-purple: #cc33cc;
  --meeple-orange: #ff9933;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-primary);
  background: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Montserrat", sans-serif;
}

input {
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: "Merriweather", serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
