.page {
  --background: #fafafa;
  --foreground: #f4e8d2;

  --text-primary: #192f44;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  --meeple-yellow: #ffcc00;
  --meeple-red: #ff6666;
  --meeple-blue: #3399ff;
  --meeple-green: #33cc33;
  --meeple-purple: #cc33cc;
  --meeple-orange: #ff9933;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
  color: var(--text-primary);
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--foreground);
  padding: 120px 120px;
}

.title {
  font-size: 64px;
  line-height: 56px;
  font-weight: 600;
  margin: 0 48px 0 24px;
  color: var(--text-primary);
  font-family: "Merriweather", serif !important;
}

.subtitle {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  margin: 24px 0 0 0;
  text-align: right;
  color: var(--text-secondary);
  font-family: "Montserrat", sans-serif !important;
}

a.primary {
  background: var(--text-primary);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--button-secondary-border);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}
